In [1]:
import pandas as pd

df = pd.read_csv('../data/idk/list-of-sites.csv')
df.head()

,Forest name,Site code,Restoration type,Longitude,Latitude,Year Active,No.\nsaplings planted,No.\nspecies planted,Planted\narea (ha),Distance to\ncontinuous forest (m),Remnant area (ha),Notes
0,HP Bend 36,HP36P1B,Benchmark,76.997687,10.364480,NaN,NaN,NaN,NaN,0.0,>1000,NaN
1,HP Bend 36,HP36P3B,Benchmark,76.997352,10.366579,NaN,NaN,NaN,NaN,0.0,>1000,NaN
2,HP Bend 36,HP36P4B,Benchmark,76.995389,10.369326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HP Bend 37,HP37P1B,Benchmark,76.993891,10.372652,NaN,NaN,NaN,NaN,0.0,>1000,NaN
4,HP Bend 37,HP37P2B,Benchmark,76.993471,10.374513,NaN,NaN,NaN,NaN,0.0,>1000,NaN

In [3]:
avg_long = df['Longitude'].mean()
avg_lat = df['Latitude'].mean()
avg_long, avg_lat

(76.94375686363638, 10.34640938636364)